[submodule "ros_ws/src/OrbbecSDK_ROS2"]
	path = ros_ws/src/OrbbecSDK_ROS2
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
[submodule "gazebo_models"]
	path = gazebo_models
	url = https://github.com/osrf/gazebo_models
[submodule "aws-robomaker-small-house-world"]
	path = aws-robomaker-small-house-world
	url = https://github.com/aws-robotics/aws-robomaker-small-house-world.git
[submodule "ros_ws/src/jeeves_production_description"]
	path = ros_ws/src/jeeves_production_description
	url = git@github.com:sandeepdutta/jeeves_production_description.git
	branch = jeeves_robot
